<%-- 
Name:	IBatisGen.BatisMap.cst
Version: 2007.02.08
Author: jinwl  ( jinweile@163.com )
Description: Generates Spring Bean from a database table. (see ibatis.apache.org)
--%>
<%@ CodeTemplate Language="C#" TargetLanguage="C#" Src="CSBatisBuilder.cs" Inherits="TableTemplate" Debug="true"  Description="Generates Spring Bean from a database table." %>

<%@ Assembly Name="System" %>
<%@ Assembly Name="System.Data" %>
<%@ Assembly Name="CodeSmith.BaseTemplates" %>
<%@ Assembly Name="CodeSmith.CustomProperties" %>
<%@ Assembly Name="SchemaExplorer" %>
<%--<%@ Assembly Src="CSBatisBuilder.cs" %>--%>

<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.ComponentModel" %>
<%@ Import Namespace="System.Collections.Specialized" %>
<%@ Import Namespace="System.Data" %>
<%@ Import Namespace="System.Text" %>
<%@ Import Namespace="CSBatisBuilder" %>
<script runat="template">
	protected override FileOption GetDefaultFileOption() {
		return FileSetOption.CreateDefaultBeanOption();
	}
</script>
<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<!-- daobean Start -->
	<bean id="<% =Builder.DaoImplName %>" class="<% =Builder.DaoImplNamespace %>.<% =Builder.DaoImplName %>">
		<property name="<% =Builder.SqlMapper %>">
			<ref bean="sqlMapClient" />
		</property>
	</bean>
	<!-- proxy -->
	<bean id="<% =Builder.DaoIntfName %>" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<value><% =Builder.DaoIntfNamespace %>.<% =Builder.DaoIntfName %></value>
		</property>
		<property name="target">
			<ref bean="<% =Builder.DaoImplName %>" />
		</property>
	</bean>
	<!-- daobean End -->
	<!-- serviebean Start -->
	<bean name="<% =Builder.ServiceImplName %>" class="<% =Builder.ServiceImplNamespace %>.<% =Builder.ServiceImplName %>">
		<property name="<% =Builder.DaoImplName %>">
			<ref bean="<% =Builder.DaoIntfName %>" />
		</property>
		<!-- <property name="MemcachedClient">
			<ref bean="memcachedClient" />
		</property> -->
	</bean>
	<!-- proxy,tran -->
	<bean id="<% =Builder.ServiceIntfName %>" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="singleton">
			<value>true</value>
		</property>
		<property name="proxyInterfaces">
			<value><% =Builder.ServiceIntfNamespace %>.<% =Builder.ServiceIntfName %></value>
		</property>
		<property name="interceptorNames">
			<list>
				<value>transactionInterceptor</value>
				<value><% =Builder.ServiceImplName %></value>
			</list>
		</property>
		<property name="proxyTargetClass">
			<value>true</value>
		</property>
	</bean>
	<!-- serviebean End -->
</beans>
