<%-- 
Name:	IBatisGen.BatisMap.cst
Version: 2007.02.08
Author: jinwl  ( jinweile@163.com )
Description: Generates SQL mapping xml for IBatis (see ibatis.apache.org)
--%>
<%@ CodeTemplate Language="C#" TargetLanguage="C#" Src="CSBatisBuilder.cs" Inherits="TableTemplate" Debug="true"  Description="Generates IBatis map from a database table." %>

<%@ Assembly Name="System" %>
<%@ Assembly Name="System.Data" %>
<%@ Assembly Name="CodeSmith.BaseTemplates" %>
<%@ Assembly Name="CodeSmith.CustomProperties" %>
<%@ Assembly Name="SchemaExplorer" %>
<%--<%@ Assembly Src="CSBatisBuilder.cs" %>--%>

<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.ComponentModel" %>
<%@ Import Namespace="System.Collections.Specialized" %>
<%@ Import Namespace="System.Data" %>
<%@ Import Namespace="System.Text" %>
<%@ Import Namespace="CSBatisBuilder" %>
<script runat="template">
	protected override FileOption GetDefaultFileOption() {
		return FileSetOption.CreateDefaultBatisMapOption();
	}
</script>
<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE sqlMap      
    PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN"      
    "http://ibatis.apache.org/dtd/sql-map-2.dtd">
	
<sqlMap namespace="<% =Builder.EntityName %>">

	<typeAlias alias="<% =Builder.EntityName %>" type="<% =Builder.EntityQualifiedName %>" />

	<resultMap id="<% =Builder.FullResultMapId %>" class="<% =Builder.EntityName%>">
		<% foreach (ColumnInfo c in Builder.Columns) { %>
		<result property="<% =c.VarName %>" column="<% =c.ResultColumnName %>"/>
		<% } %>
	</resultMap>
	<% if (Builder.HasLob) { %>
	<resultMap id="<% =Builder.NonLobResultMapId %>" class="<% =Builder.EntityName%>">
		<% foreach (ColumnInfo c in Builder.NonLobColumns) { %>
		<result property="<% =c.VarName %>" column="<% =c.ResultColumnName %>"/>
		<% } %>
	</resultMap>
	<% } %>

	<select id="<% =Builder.GetCountStmtId %>" parameterClass="java.util.Map" resultClass="Integer">
		SELECT count(1) FROM <% =Builder.TableName %>
        <dynamic prepend="WHERE">
            <% for (int i = 0; i < Builder.NonPkColumns.Count; i++) {
            ColumnInfo c = Builder.NonPkColumns[i]; %>
            <isPropertyAvailable property="<% =c.VarName %>" prepend="and">
    		  <% =c.ResultColumnName %> = #<% =c.VarName %>#
    		</isPropertyAvailable>
            <% } %>
        </dynamic>
	</select>
	
	<select id="<% =Builder.FindAllStmtId %>" resultMap="<% =Builder.FullResultMapId %>">
		SELECT
        <% for (int i = 0; i < Builder.Columns.Count; i ++) {
            ColumnInfo c = Builder.Columns[i];%>
            <% 	if (i > 0) { %>, <% } %><% 	=c.ResultColumnName %>
        <% } %>
		FROM <% =Builder.TableName %>
	</select>
	
	<select id="<% =Builder.FindStmtId %>" parameterClass="<% =Builder.PkColumns[0].ClrTypeDecl%>" resultMap="<% =Builder.FullResultMapId %>">
		SELECT
        <% for (int i = 0; i < Builder.Columns.Count; i ++) {
            ColumnInfo c = Builder.Columns[i];%>
            <% 	if (i > 0) { %>, <% } %><% 	=c.ResultColumnName %>
        <% } %>
		FROM <% =Builder.TableName %>
		WHERE
		<% 	for (int i = 0; i < Builder.PkColumns.Count; i++) { 
		    ColumnInfo c = Builder.PkColumns[i]; %>
		<% if (i > 0) { %>AND <% } %>(<% =c.ResultColumnName %> = #<% =c.VarName %>#)
		<% } %>
	</select>
	
	<insert id="<% =Builder.InsertStmtId %>" parameterClass="<% =Builder.EntityName %>">
        <%--<!--oracle-->
        <!--<selectKey keyProperty="innerUserID" resultType="Long" order="BEFORE">
          select SQ_ADMIN_SEQ.nextval from dual
        </selectKey>-->--%>
		INSERT INTO <% =Builder.TableName %> (
			<%
			    	for (int i = 0; i < Builder.NonPkColumns.Count; i++) { 
					ColumnInfo c = Builder.NonPkColumns[i]; %>
			<% 		if (i > 0) { %>,<% } %> <% =c.ResultColumnName %>
			<% 	} %>
		) VALUES (
			<% 	for (int i = 0; i < Builder.NonPkColumns.Count; i++) {
					ColumnInfo c = Builder.NonPkColumns[i];		%>
			<% 		if (i > 0) { %>,<% } %> #<% =c.VarName %>#
			<% 	} %>
		)
		<selectKey resultClass="<% =Builder.PkColumns[0].ClrTypeDecl%>" keyProperty="<% =Builder.PkColumns[0].VarName%>" >
            <%--<!--sqlite-->
            <!--select last_insert_rowid() as value-->--%>
            <!--mysql-->
			select LAST_INSERT_ID() as value
            <%--<!--sqlserver-->
			<!--select @@identity as value-->--%>
		</selectKey>
	</insert>
    
	<insert id="<% =Builder.InsertStmtId %>Map" parameterClass="java.util.Map">
        <%--<!--oracle-->
        <!--<selectKey keyProperty="innerUserID" resultType="Long" order="BEFORE">
          select SQ_ADMIN_SEQ.nextval from dual
        </selectKey>-->--%>
		INSERT INTO <% =Builder.TableName %> 
        <dynamic prepend="(">
			<%
			    	for (int i = 0; i < Builder.NonPkColumns.Count; i++) { 
					ColumnInfo c = Builder.NonPkColumns[i]; %>
                <isPropertyAvailable property="<% =c.VarName %>" prepend=",">
			        <% =c.ResultColumnName %>
                </isPropertyAvailable>
			<% 	} %>
        </dynamic>
        <dynamic prepend=") VALUES (">
			<% 	for (int i = 0; i < Builder.NonPkColumns.Count; i++) {
					ColumnInfo c = Builder.NonPkColumns[i];		%>
                <isPropertyAvailable property="<% =c.VarName %>" prepend=",">
			        #<% =c.VarName %>#
                </isPropertyAvailable>
			<% 	} %>
        </dynamic>
		)
		<selectKey resultClass="<% =Builder.PkColumns[0].ClrTypeDecl%>" keyProperty="<% =Builder.PkColumns[0].VarName%>" >
            <%--<!--sqlite-->
            <!--select last_insert_rowid() as value-->--%>
            <!--mysql-->
			select LAST_INSERT_ID() as value
            <%--<!--sqlserver-->
			<!--select @@identity as value-->--%>
		</selectKey>
	</insert>
    
	<insert id="<% =Builder.InsertStmtId %>Batch" parameterClass="java.util.List">
        INSERT INTO <% =Builder.TableName %> (
			<% for (int i = 0; i < Builder.NonPkColumns.Count; i++) { 
			    ColumnInfo c = Builder.NonPkColumns[i]; %>
			<% if (i > 0) { %>,<% } %> <% =c.ResultColumnName %>
			<% } %>
		) VALUES
        <iterate conjunction="," open="" close="">
        <![CDATA[(
            <% for (int i = 0; i < Builder.NonPkColumns.Count; i++) {
			    ColumnInfo c = Builder.NonPkColumns[i];		%>
			<% if (i > 0) { %>,<% } %> #[].<% =c.VarName %>#
			<% } %>
             )]]>
        </iterate>
    </insert>

	<update id="<% =Builder.UpdateStmtId %>" parameterClass="<% =Builder.EntityName %>">
		UPDATE <% =Builder.TableName %> SET
			<% 	for (int i = 0; i < Builder.NonPkColumns.Count; i++) {
					ColumnInfo c = Builder.NonPkColumns[i]; 	%>
			<% 		if (i > 0) { %>,<% } %> <% =c.ResultColumnName %> = #<% =c.VarName %>#
			<% 	} %>
		WHERE
			<% 	for (int i = 0; i < Builder.PkColumns.Count; i++) {
					ColumnInfo c = Builder.PkColumns[i];	%>
			<% 		if (i > 0) { %>AND <% } %>(<% =c.ResultColumnName %> = #<% =c.VarName %>#)
			<% 	} %>
	</update>
    
    <update id="<% =Builder.UpdateStmtId %>ByMap" parameterClass="java.util.Map">
		UPDATE <% =Builder.TableName %> 
        <dynamic prepend="SET">
            <% for (int i = 0; i < Builder.NonPkColumns.Count; i++) {
		        ColumnInfo c = Builder.NonPkColumns[i]; %>
		    <isPropertyAvailable property="<% =c.VarName %>" prepend=",">
		        <% =c.ResultColumnName %> = #<% =c.VarName %>#
		    </isPropertyAvailable>
		    <% } %>
        </dynamic>
		WHERE
			<% for (int i = 0; i < Builder.PkColumns.Count; i++) {
			    ColumnInfo c = Builder.PkColumns[i];	%>
			<% if (i > 0) { %>AND <% } %>(<% =c.ResultColumnName %> = #<% =c.VarName %>#)
			<% } %>
	</update>

    <update id="<% =Builder.UpdateStmtId %>Dynamic" parameterClass="<% =Builder.EntityName %>">
		UPDATE <% =Builder.TableName %> 
        <dynamic prepend="SET">
			<% for (int i = 0; i < Builder.NonPkColumns.Count; i++) {
			    ColumnInfo c = Builder.NonPkColumns[i]; 	%>
            <isNotNull prepend="," property="<% =c.VarName %>"><% =c.ResultColumnName %> = #<% =c.VarName %>#</isNotNull>
			<% } %>
        </dynamic>
		WHERE
			<% for (int i = 0; i < Builder.PkColumns.Count; i++) {
			    ColumnInfo c = Builder.PkColumns[i];	%>
			<% if (i > 0) { %> AND <% } %>(<% =c.ResultColumnName %> = #<% =c.VarName %>#)
			<% } %>
	</update>

	<delete id="<% =Builder.DeleteStmtId %>" parameterClass="<% =Builder.EntityName %>">
		DELETE FROM <% =Builder.TableName %>
		WHERE
			<%	for (int i = 0; i < Builder.PkColumns.Count; i++) {
					ColumnInfo c = Builder.PkColumns[i];	%>
			<%		if (i > 0) { %>AND <% } %>(<% =c.ResultColumnName %> = #<% =c.VarName %>#)
			<%	} %>
	</delete>

    <select id="<% =Builder.SelectStmtId %>"  parameterClass="java.util.Map"  resultMap="<% =Builder.FullResultMapId %>">
        <%--<!--sqlserver-->
        SELECT
            <isPropertyAvailable property="Top">
                Top $Top$
            </isPropertyAvailable>
            <% for (int i = 0; i < Builder.Columns.Count; i ++) {
                ColumnInfo c = Builder.Columns[i];%>
                <% if (i > 0) { %>, <% } %><% 	=c.ResultColumnName %>
            <% } %>
    		FROM <% =Builder.TableName %>
        <dynamic prepend="WHERE">
            <isPropertyAvailable prepend="and" property="<% =Builder.PkColumnInfo.VarName %>List">
                <% =Builder.PkColumnInfo.ResultColumnName %> in
                <iterate property="<% =Builder.PkColumnInfo.VarName %>List" open="(" close=")" conjunction=",">
                    <![CDATA[#<% =Builder.PkColumnInfo.VarName %>List[]#]]>
                </iterate>
            </isPropertyAvailable>
    		<% for (int i = 0; i < Builder.NonPkColumns.Count; i++) {
    		    ColumnInfo c = Builder.NonPkColumns[i]; %>
    		    <isPropertyAvailable property="<% =c.VarName %>" prepend="and">
    		        <% =c.ResultColumnName %> = #<% =c.VarName %>#
    		    </isPropertyAvailable>
    		<% } %>
        </dynamic>
        <isPropertyAvailable property="OrderBy">
            ORDER BY $OrderBy$
        </isPropertyAvailable>--%>
        <!--mysql-->
        SELECT
            <% for (int i = 0; i < Builder.Columns.Count; i ++) {
                ColumnInfo c = Builder.Columns[i];%>
                <% if (i > 0) { %>, <% } %><% 	=c.ResultColumnName %>
            <% } %>
    		FROM <% =Builder.TableName %>
        <dynamic prepend="WHERE">
            <isPropertyAvailable prepend="and" property="<% =Builder.PkColumnInfo.VarName %>List">
                <% =Builder.PkColumnInfo.ResultColumnName %> in
                <iterate property="<% =Builder.PkColumnInfo.VarName %>List" open="(" close=")" conjunction=",">
                    <![CDATA[#<% =Builder.PkColumnInfo.VarName %>List[]#]]>
                </iterate>
            </isPropertyAvailable>
    		<% for (int i = 0; i < Builder.NonPkColumns.Count; i++) {
    		    ColumnInfo c = Builder.NonPkColumns[i]; %>
    		    <isPropertyAvailable property="<% =c.VarName %>" prepend="and">
    		        <% =c.ResultColumnName %> = #<% =c.VarName %>#
    		    </isPropertyAvailable>
    		<% } %>
        </dynamic>
        <isPropertyAvailable property="OrderBy">
            ORDER BY $OrderBy$
        </isPropertyAvailable>
        <dynamic prepend="LIMIT">
            <isPropertyAvailable prepend="," property="Start">
                #Start#
            </isPropertyAvailable>
            <isPropertyAvailable prepend="," property="End">
                #End#
            </isPropertyAvailable>
        </dynamic>
    </select>  

    <select id="<% =Builder.SelectPagerStmtId %>" parameterClass="java.util.Map" resultMap="<% =Builder.FullResultMapId %>">
        <%--<!--sqlserver-->
        SELECT * from (select ROW_NUMBER() over(order BY $OrderBy$) RowNumber,
            <% for (int i = 0; i < Builder.Columns.Count; i ++) {
    		    ColumnInfo c = Builder.Columns[i];%>
    		    <% if (i > 0) { %>, <% } %><% 	=c.ResultColumnName %>
            <% } %>
    		FROM <% =Builder.TableName %>
        <dynamic prepend="WHERE">
    	    <% for (int i = 0; i < Builder.NonPkColumns.Count; i++) {
    		    ColumnInfo c = Builder.NonPkColumns[i]; %>
    		    <isPropertyAvailable property="<% =c.VarName %>" prepend="and">
    		        <% =c.ResultColumnName %> = #<% =c.VarName %>#
    		    </isPropertyAvailable>
    		<% } %>
        </dynamic>
            ) A
        <dynamic prepend="WHERE">
            <isPropertyAvailable prepend="AND" property="Start">
                <![CDATA[RowNumber >= #Start#]]>
            </isPropertyAvailable>
            <isPropertyAvailable prepend="AND" property="End">
              <![CDATA[RowNumber <= #End#]]>
            </isPropertyAvailable>
        </dynamic>--%>
        <!--mysql-->
        SELECT
            <% for (int i = 0; i < Builder.Columns.Count; i ++) {
    		    ColumnInfo c = Builder.Columns[i];%>
    		    <% if (i > 0) { %>, <% } %><% 	=c.ResultColumnName %>
            <% } %>
    		FROM <% =Builder.TableName %>
        <dynamic prepend="WHERE">
    	    <% for (int i = 0; i < Builder.NonPkColumns.Count; i++) {
    		    ColumnInfo c = Builder.NonPkColumns[i]; %>
    		    <isPropertyAvailable property="<% =c.VarName %>" prepend="and">
    		        <% =c.ResultColumnName %> = #<% =c.VarName %>#
    		    </isPropertyAvailable>
    		<% } %>
        </dynamic>
        <isPropertyAvailable property="OrderBy">
            ORDER BY $OrderBy$
        </isPropertyAvailable>
        <dynamic prepend="LIMIT">
            <isPropertyAvailable prepend="," property="Start">
                #Start#
            </isPropertyAvailable>
            <isPropertyAvailable prepend="," property="End">
                #End#
            </isPropertyAvailable>
        </dynamic>
    </select>

</sqlMap>
